<h1 style="text-align: center;">Online test for basic computer Science.</h1>
<div class="form">
<div class="form-check" id="ques1">
   Q1.Who is the father of Computers? <br>
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
   
   <input class="form-check-input" type="radio" name="flexRadioDefault" [(ngModel)]="ques1" value="q1-opt1" id="q1-opt1">
     <span>James Gosling</span>
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
    <input class="form-check-input"type="radio" name="flexRadioDefault" [(ngModel)]="ques1" value="q1-opt2" id="q1-opt2">
   <span>  Charles Babbage </span>
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   
    <input class="form-check-input" type="radio" name="flexRadioDefault" [(ngModel)]="ques1" value="q1-opt3" id="q1-opt3">
    <span>Dennis Ritchie</span> 
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input class="form-check-input" type="radio" name="flexRadioDefault" [(ngModel)]="ques1" value="q1-opt4" id="q1-opt4">
    
    <span> Bjarne Stroustrup</span>
    
</div><hr />

<div class="form-check" id="ques2">
     Q2. Which of the following is the correct abbreviation of COMPUTER? <br>
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
     
     <input  class="form-check-input" type="radio" name="flexRadioDefault" [(ngModel)]="ques2" value="q2-opt1" id="q2-opt1">
    
      <span>Commonly Occupied Machines Used in Technical and Educational Research</span>  
      <br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      
      <input  class="form-check-input" type="radio" name="flexRadioDefault" [(ngModel)]="ques2" value="q2-opt2" id="q2-opt2">
      
     <span> Commonly Operated Machines Used in Technical and Environmental Research</span>  
     <br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      
      <input class="form-check-input" type="radio" name="flexRadioDefault" [(ngModel)]="ques2" value="q2-opt3" id="q2-opt3">
      
     <span>  Commonly Oriented Machines Used in Technical and Educational Research</span>  
      <br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      
      <input class="form-check-input" type="radio" name="flexRadioDefault" [(ngModel)]="ques2" value="q2-opt4" id="q2-opt4">
      
      <span> Commonly Operated Machines Used in Technical and Educational Research</span>  
      
  </div>
  <hr />
  <div class="form-check" id="ques3">
     Q3.What is the word processing feature that catches most random typographical errors and misspellings? <br>
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
     <input class="form-check-input" type="radio" name="flexRadioDefault" [(ngModel)]="ques3" value="q3-opt1" id="q3-opt1">
      <label class="form-check-label" for="q3-opt1">
          Grammar checker
      </label><br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      <input class="form-check-input" type="radio" name="flexRadioDefault" [(ngModel)]="ques3" value="q3-opt2" id="q3-opt2">
      <label class="form-check-label" for="q3-opt2">
          Spell checker
      </label><br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input class="form-check-input" type="radio" name="flexRadioDefault" [(ngModel)]="ques3" value="q3-opt3" id="q3-opt3">
      <label class="form-check-label" for="q3-opt3">
          Word checker
      </label><br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input class="form-check-input" type="radio" name="flexRadioDefault" [(ngModel)]="ques3" value="q3-opt4" id="q3-opt4">
      <label class="form-check-label" for="q3-opt4">
          None of the these
      </label>
  </div><hr />
  <div class="form-check" id="ques4">
     Q4.What is the main function of the command interpreter? <br>
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
     <input class="form-check-input" type="radio" name="flexRadioDefault" [(ngModel)]="ques4" value="q4-opt1" id="q4-opt1">
      <label class="form-check-label" for="q4-opt1">
          to provide the interface between the API and application program
      </label><br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      <input class="form-check-input" type="radio" name="flexRadioDefault" [(ngModel)]="ques4" value="q4-opt2" id="q4-opt2">
      <label class="form-check-label" for="q4-opt2">
          to handle the files in the operating system
      </label><br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input class="form-check-input" type="radio" name="flexRadioDefault" [(ngModel)]="ques4" value="q4-opt3" id="q4-opt3">
      <label class="form-check-label" for="q4-opt3">
          to get and execute the next user-specified command
      </label><br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input class="form-check-input" type="radio" name="flexRadioDefault" [(ngModel)]="ques4" value="q4-opt4" id="q1-opt4">
      <label class="form-check-label" for="q1-opt4">
          none of the mentioned
      </label>
  </div><hr />
  <div class="form-check" id="ques5">
     Q5.In Operating Systems, which of the following is/are CPU scheduling algorithms? <br>
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
     <input class="form-check-input" type="radio" name="flexRadioDefault" [(ngModel)]="ques5" value="q5-opt1" id="q5-opt1">
      <label class="form-check-label" for="q5-opt1">
          Priority
      </label><br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      <input class="form-check-input" type="radio" name="flexRadioDefault" [(ngModel)]="ques5" value="q5-opt2" id="q5-opt2">
      <label class="form-check-label" for="q5-opt2">
          Round Robin
      </label><br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input class="form-check-input" type="radio" name="flexRadioDefault" [(ngModel)]="ques5" value="q5-opt3" id="q5-opt3">
      <label class="form-check-label" for="q5-opt3">
          Shortest Job First
      </label><br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input class="form-check-input" type="radio" name="flexRadioDefault" [(ngModel)]="ques5" value="q5-opt4" id="q5-opt4">
      <label class="form-check-label" for="q5-opt4">
          All of the mentioned
      </label>
  </div><hr />
  <div class="form-check" id="ques6">
     Q6. To access the services of the operating system, the interface is provided by the ___________ <br>
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
     <input class="form-check-input" type="radio" name="flexRadioDefault" [(ngModel)]="ques6" value="q6-opt1" id="q6-opt1">
      <label class="form-check-label" for="q6-opt1">
          Library
      </label><br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      <input class="form-check-input" type="radio" name="flexRadioDefault" [(ngModel)]="ques6" value="q6-opt2" id="q6-opt2">
      <label class="form-check-label" for="q6-opt2">
          System calls
      </label><br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input class="form-check-input" type="radio" name="flexRadioDefault" [(ngModel)]="ques6" value="q6-opt3" id="q6-opt3">
      <label class="form-check-label" for="q6-opt3">
          Assembly instructions
      </label><br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input class="form-check-input" type="radio" name="flexRadioDefault" [(ngModel)]="ques6" value="q6-opt4" id="q6-opt4">
      <label class="form-check-label" for="q6-opt4">
          API
      </label>
  </div><hr />
  <div class="form-check" id="ques7">
     Q7.CPU scheduling is the basis of ___________ <br>
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
     <input class="form-check-input" type="radio" name="flexRadioDefault" id="q7-opt1">
      <label class="form-check-label" for="q7-opt1">
          multiprogramming operating systems
      </label><br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="q7-opt2">
      <label class="form-check-label" for="q7-opt2">
          larger memory sized systems
      </label><br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="q7-opt3">
      <label class="form-check-label" for="q7-opt3">
          multiprocessor systems
      </label><br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="q7-opt4">
      <label class="form-check-label" for="q7-opt4">
          none of the mentioned
      </label>
  </div><hr />
  <div class="form-check" id="ques8">
     Q8. Which one of the following is not true? <br>
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
     <input class="form-check-input" type="radio" name="flexRadioDefault" id="q8-opt1">
      <label class="form-check-label" for="q8-opt1">
          kernel remains in the memory during the entire computer session
      </label><br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="q8-opt2">
      <label class="form-check-label" for="q8-opt2">
          kernel is made of various modules which can not be loaded in running operating system
      </label><br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="q8-opt3">
      <label class="form-check-label" for="q8-opt3">
          kernel is the first part of the operating system to load into memory during booting
      </label><br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="q8-opt4">
      <label class="form-check-label" for="q8-opt4">
          kernel is the program that constitutes the central core of the operating system
      </label>
  </div><hr />
  <div class="form-check" id="ques9">
     Q9. Which one of the following errors will be handle by the operating system? <br>
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
     <input class="form-check-input" type="radio" name="flexRadioDefault" id="q9-opt1">
      <label class="form-check-label" for="q9-opt1">
          lack of paper in printer
      </label><br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="q9-opt2">
      <label class="form-check-label" for="q9-opt2">
          connection failure in the network
      </label><br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="q9-opt3">
      <label class="form-check-label" for="q9-opt3">
          power failure
      </label><br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="q9-opt4">
      <label class="form-check-label" for="q9-opt4">
          all of the mentioned
      </label>
  </div><hr />
  <div class="form-check" id="ques10">
     Q10. Where is the operating system placed in the memory? <br>
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
     <input class="form-check-input" type="radio" name="flexRadioDefault" id="q10-opt1">
      <label class="form-check-label" for="q10-opt1">
          either low or high memory (depending on the location of interrupt vector)
      </label><br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="q10-opt2">
      <label class="form-check-label" for="q10-opt2">
          in the low memory
      </label><br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="q10-opt3">
      <label class="form-check-label" for="q10-opt3">
          in the high memory
      </label><br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="q10-opt4">
      <label class="form-check-label" for="q10-opt4">
          none of the mentioned
      </label>
  </div><hr />
</div>
  <div style="text-align: center;">
    
     <input type="button" value="Review" class="btn btn-sm btn-primary"  />&nbsp;&nbsp;|&nbsp;&nbsp;
     <input type="button" value="View Result" class="btn btn-sm btn-primary" (click)="checkScore()"/>
  </div><hr />
  <div class="card">
<p style="text-align: center;">{{msg}}</p>
  </div>